/* GENERAL */

body {
    font-family: 'nimbus sans L';
    color: antiquewhite;
    background-color: darkslategrey;
}

#diplome,
#info {
    background-color: antiquewhite;
    color: #4a4a4a;
}
#diplome
{
    border: 2px solid black;
}
#info
{
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    border-left: 2px solid black;
}
#info p {
    color: antiquewhite;
}

#diplome div {
    margin-left: 40px;
}

.icones {
    font-size: 2em;
    color: white;
    margin-left: 16px;
    margin-top: 5%;
}

#imgplaisir {
    border: 3px solid white;
    border-radius: 50%;
    padding: 10px;
    margin-bottom: 10px;
}

#info {
    width: 32%;
    background-color: #396882;
    text-align: justify;
    text-align: center;
}

#contenair {
    display: flex;
}

/* GAUCHE */
.me {
    margin: 25px 10px 10px 10px;
    width: 170px;
    height: 170px;
}

#info h3 {
    background-color: antiquewhite;
    color: #396882;
    font-family: 'open sans';
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

#info p {
    text-align: left;
    margin: 20px 10px 20px 10px;
    margin-left: 25px;
}

.loisir
{
    margin-top: 110%;
}

#info h1, .dev
{
    display: none;
}

/* DROITE */

h1 {
    margin-left: 40px;
    margin-top: 90px;
    font-size: 50px;
    margin-bottom: 0;
}

span {
    color: #396882;
}

.nom {
    color: #4a4a4a;
    font-weight: normal;
}

.titre h3 {
    margin-top: 0;
    margin-left: 40px;
    margin-bottom: 50px;
    font-weight: normal;
    font-size: 25px;
}

.ligne {
    border-bottom: 2px solid #396882;
    color: #4a4a4a;
}

#diplome li {
    display: flex;
}

i {
    margin-right: 30px;
}

.formation1 {
    text-align: justify;
    padding-right: 100px;
    margin-top: 25px;
    margin-left: 40px;
    padding-left: 40px;
}

.formation3 {
    text-align: justify;
    padding-right: 100px;
    margin-top: 23px;
    margin-left: 11.5px;
    padding-left: 37px;
}

.formation2 {
    margin-left: 50px;
    padding-top: 10px;
    padding-right: 70px
}

.entraineur1,
.entraineur2,
.entraineur3 {
    padding-right: 100px;
    padding-left: 30px;
}

.entraineur2 {
    padding-left: 25px;
}

.entraineur3 {
    margin-left: 10px;
}

.date {
    font-weight: bold;
    margin-bottom: 50px;
    color: #4a4a4a;
    margin-top: 25px;
    padding-right: 20px;
}

.montrejeau,
.saint-gau,
.st-gau {
    font-weight: bold;
    margin-right: 20px;
    margin-bottom: 60px;
    color: #4a4a4a;
    margin-top: 24px
}

.anim,
.educ,
.educa,
.creps,
.udemy,
.open {
    font-weight: bold;
    font-size: 16px;
    color: #396882;
    margin-top: 45px;
}

ul {
    margin-top: 40px
}

.formation h3,
.experience h3,
.recommandation h3 {
    border-bottom: 2px solid #396882;
    margin-right: 40px;
    margin-left: 40px;
    font-size: 22px;
}

.premier {
    margin-top: 50px;
    margin-left: 50px;
    color: #396882;
    margin-right: 35%;
}

.second {
    margin-left: 40px;
    color: #396882;
    margin-top: 0;
    padding-top: 50px
}

.recommand {
    margin-bottom: 30px;
    display: flex;
}

li i {
    margin-top: 25px;
    margin-right: 10px;
}

/* RESPONSIVE */

@media screen and (max-width: 1280px)
{
    .me
    {
        width: 350px;
        height: 350px;
        margin-top: 20px;
        margin-right: 40px;
    }
    body
    {
        width: 0;
        height: 3000px;
        font-size: 1.5em;
    }
    .titre h3
    {
        margin-right: 260px;
        text-align: center;
        font-size: 1.5em
    }
    .titre h1
    {
        margin-top: 40px;
        margin-left: 5px;
        text-align: center;
        margin-right: 40px;
        font-size: 3em;
    }
    #diplome
    {
        border: 2px solid black;
        position: absolute;
        margin-top: 450px;
        width: 1000px;
        height: 500%;
    }
     .information
    {
        background-color: #396882;
        margin-top: 106.5%;
    }
    #contenair
    {
        display: flex;
    }
    #info, #diplome
    {
        border: 2px solid black;
    }
 
    #info
    {
        width: 1000px;
        position: absolute;
        background-color: #396882;
        height: 500%;
    }
    .loisir
    {
     margin-top: 0;
    }
    
    #info h3
    {
        border-bottom: 2px solid black;
    }
    .moi h3, .loisir h3
    {
        border-top: 2px solid black;
    }
   .premier
    {
        margin-right: 250px;
    }
    .entraineur3
    {
        padding-left: 0px;
        margin-left: 20px;
    }
    #info p
    {
        text-align: center;
    }
}

@media screen and (max-width: 1024px)
{
    body
    {
        width: 0
    }
    #diplome
    {
        width: 1000px;
    }
    .titre h1
    {
        font-size: 40px
    }
    .titre h3
    {
        font-size: 20px;
        margin-left: 10px;
        margin-right: 150px;
    }
    #info
    {
        width: 1000px;
    }
    .information
    {
        margin-top: 135%
    }
      .entraineur2
    {
        margin-left: 19px;
    }
}

@media screen and (max-width: 930px)
{
    body
    {
        width: 0;
    }
    #diplome
    {
        width: 900px;
    }
    #info
    {
        width: 900px;
    }
    .information
    {
        margin-top: 150%;
    }
    .entraineur2
    {
        margin-left: 19px;
    }
}

@media screen and (max-width: 850px)
{
    body
    {
        width: 0;
    }
    #diplome
    {
        width: 810px;
    }
    #info
    {
        width: 810px;
    }
    .information
    {
        margin-top: 167%
    }
    .formation2
    {
        margin-left: 50px
    }
    .premier
    {
        margin-right: 120px
    }
}

@media screen and (max-width: 690px)
{
    body
    {
        width: 680px;
    }
    #diplome
    {
        width: 670px;
    }
    #info
    {
        width: 670px;
    }
    .formation2
    {
        margin-left: 50px
    }
    .formation h3,
.experience h3,
.recommandation h3
    {
        margin-left: 0
    }
    i
    {
        margin-right: 13px
    }
    p
    {
        text-align: left;
    }
    .premier
    {
        margin-left: 5px
    }
    .information
    {
        margin-top: 206%
    }
}

@media screen and (max-width: 590px)
{
    body
    {
        width: 580px;
    }
    #diplome
    {
        width: 570px;
    }
    #info
    {
        width: 570px;
    }
    .formation2
    {
        margin-left: 65px
    }
    .formation h3,
.experience h3,
.recommandation h3
    {
        margin-left: 0
    }
    i
    {
        margin-right: 13px
    }
    p
    {
        text-align: left;
    }
    .premier
    {
        margin-left: 5px
    }
    .information
    {
        margin-top: 260%
    }
}
@media screen and (max-width: 550px)
{
    body
    {
        width: 510px;
    }
    #diplome
    {
        width: 500px;
    }
    #info
    {
        width: 500px;
    }
    .formation2
    {
        margin-left: 65px
    }
    .formation h3,
.experience h3,
.recommandation h3
    {
        margin-left: 0
    }
    i
    {
        margin-right: 13px
    }
    p
    {
        text-align: left;
    }
    .premier
    {
        margin-left: 5px
    }
    .information
    {
        margin-top: 347%
    }
}