/* GENERAL */

body
{
    font-family: 'nimbus sans L';
    color:antiquewhite;
    background-color:darkslategrey;
}

#diplome, #info
{
    border: 1px solid white;
    background-color: antiquewhite;
    color: #4a4a4a;
}

#info p
{
    color:antiquewhite;
}

#diplome div
{
    margin-left: 40px;
}

.icones
{
    font-size: 2em;
    color: white;
}

#icone
{
    margin-left: 25px;
    margin-top: 5%;
}

#info
{
    width: 32%;
    background-color: #396882;
    text-align: justify;
    text-align: center;
    border: 1px solid white;
    margin-left: 5%;
}

#contenair
{
    display: flex;
}

/* GAUCHE */
.me
{
    margin: 25px 10px 10px 10px;
    width: 170px;
    height: 170px;
}

#info h3
{
    background-color: antiquewhite;
    color: #396882;
    font-family: 'open sans'
}

#info p
{
    text-align: left;
    margin: 20px 10px 20px 10px;
    margin-left: 25px;
}

.moi h3
{
    margin-top: 60px
}

.loisir h3
{
    margin-top: 87.5%;
}

#imgplaisir
{
    border: 3px solid white;
    border-radius: 50%;
    padding: 10px;
    margin-bottom: 10px;
}

/* DROITE */

h1
{
    margin-left: 40px;
    margin-top: 90px;
    font-size: 50px;
    margin-bottom: 0;
}

span
{
    color:#396882;
}

.nom
{
    color: #4a4a4a;
    font-weight: normal;
}

.titre h3
{
    margin-top: 0;
    margin-left: 40px;
    margin-bottom: 50px;
    font-weight: normal;
    font-size: 25px;
}

.ligne
{
    border-bottom: 2px solid #396882;
    color: #4a4a4a;
}

.fond
{
    margin-left: 40px;
    margin-top: 40px;
    font-size: 22px;
}

#diplome li
{
    display: flex
}

i
{
    margin-right: 30px
}

.formation1
{
     text-align: justify;
    padding-right: 100px;
    margin-top: 30px;
    margin-left: 40px;
}

.formation2
{
    text-align: justify;
    padding-right: 100px;
    margin-top: 30px;
    margin-left: 11.5px;
}
.open
{
    font-weight: bold;
    font-size: 16px;
    color: #4a4a4a;
}

.date
{
    font-weight: bold;
    margin-bottom: 55px;
    color: #4a4a4a;
    margin-top: 30px;
    padding-right: 20px;
}

.tarbes
{
    font-weight: bold;
    margin-bottom: 30px;
    color: #4a4a4a;
}

.udemy
{
    font-weight: bold;
    font-size: 16px;
    color: #4a4a4a;
    dfghhjdfg
}

.html
{
   text-align: justify;
    padding-right: 50px;
}

.toulouse
{
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 30px;
    color: #4a4a4a;
}

.creps
{
    font-weight: bold;
    font-size: 16px;
    color: #4a4a4a;
    margin-top: 28px;
}

.bpjeps
{
    text-align: justify;
    padding-left: 50px;
    position: absolute;
    margin-top: 65px;
    margin-left: 74px;
    margin-right: 50px
}

.montrejeau
{
    font-weight: bold;
    margin-right: 43px;
    margin-bottom: 30px;
    margin-top: 0px;
    color: #4a4a4a;
}

.educ
{
    font-weight: bold;
    font-size: 16px;
    color: #4a4a4a;
}

.entraineur
{
    text-align: justify;
    padding-left: 90px;
    position: absolute;
    margin-left: 38px;
    margin-right: 50px;
    margin-top: 35px;
}

.saint-gau
{
    font-weight: bold;
    margin-right: 38px;
    margin-bottom: 30px;
    margin-top: 45px;
    color: #4a4a4a;
}

.anim
{
    font-weight: bold;
    font-size: 16px;
    color: #4a4a4a;
    margin-top: 45px;
}

.ecole
{
    text-align: justify;
    padding-left: 90px;
    position: absolute;
    margin-left: 38px;
    margin-right: 50px;
    margin-top: 85px;
}

.st-gau
{
    font-weight: bold;
    margin-right: 40px;
    margin-bottom: 30px;
    margin-top: 45px;
    color: #4a4a4a;
}

.educa
{
    font-weight: bold;
    font-size: 16px;
    color: #4a4a4a;
    margin-top: 45px;
}

.direction
{
    text-align: justify;
    padding-left: 90px;
    position: absolute;
    margin-left: 39px;
    margin-right: 50px;
    margin-top: 85px;
}

ul
{
    margin-top: 40px
}
.formation h3
{
    border-bottom: 2px solid #396882;
    margin-right: 40px;
}

.experience h3
{
    border-bottom: 2px solid #396882;
    margin-right: 40px;
}

.premier
{
    margin-top: 50px;
    margin-left: 50px;
    color: #396882;
}

.second
{
    margin-left: 40px;
    color: #396882;
    margin-top: 0;
   padding-top: 50px
}

.fond
{
    margin-top: 60px;
    border-bottom: 2px solid #396882;
    margin-right: 40px;
}

.recommand
{
    margin-bottom: 30px;
    display: flex;
}
.premier
{
    margin-right: 35%;
}
